<%= render ContentForComponent do |comp| %>
  <p>Have a great day.</p>
  <% comp.content_for(:title) do %>
    <h1>Hi!</h1>
  <% end %>
  <% comp.content_for(:footer) do %>
    <h3>Bye!</h3>
  <% end %>
<% end %>