class <%= class_name %>Component < <%= parent_class %>
  <%- if requires_content? -%>
  validates :content, presence: true
  <%- end -%>

  def initialize(<%= initialize_signature %>)
    <%= initialize_body %>
  end
end
