<!DOCTYPE html>
<html>
<head>
  <title>Action View Component Test</title>
  <style>
    .preview-component {
      font-family: sans-serif;
      background: lightgray;
      padding: 10px;
    }

    .btn {
      font-family: sans-serif;
      background: black;
      color: white;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
