class <%= class_name %>ComponentPreview < ViewComponent::Preview
  def default
  <%- if render_signature -%>
    render(<%= class_name %>Component.new(<%= render_signature %>))
  <%- else -%>
    render(<%= class_name %>Component.new)
  <%- end -%>
  end
end
