<div class="preview" id="<%= example %>">
  <h3><%= example.titleize %></h3>

  <style>
    .preview__container {
      border: 1px #e8e8e8 solid;
      border-radius: 3px;
      box-sizing: border-box;
      padding: 16px;
      width: 100%;
      display: inline-block;
    }
  </style>

  <div class="preview__container">
    <%= raw preview.call(example) %>
  </div>
</div>
