<table>
  <caption>Content</caption>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Value</td>
    </tr>
  </tbody>
</table>

<button id="my_button">My button</button>
<a href="#">My link</a>

<input type="checkbox" id="checked" checked="checked">
<label for="checked">Checked field</label>

<input type="checkbox" id="unchecked">
<label for="unchecked">Unchecked field</label>

<label for="select">Select field</label>
<select id="select">
  <option value="option1">Option 1</option>
</select>
