<div data-test-selector='just-joshing-repro-component'>
  <span>Component</span>

    <% if slot1? %>
      <span> -> Slot1: </span>
      <%= slot1 %>
    <% end %>

    <% if slot2? %>
      <span> -> Slot2: </span>
      <%= slot2 %>
    <% end %>

    <% unless content.blank? %>
      <span> -> Content: </span>
      <%= content %>
    <% end %>

  </span>

</div>
