<div data-test-selector='just-joshing-repro-component'>
  <span data-test-selector='just-joshing-repro-component-heading'>Component</span>

    <% if slot1? %>
      <span data-test-selector='just-joshing-repro-component-slot-1'> -> Slot1: </span>
      <%= slot1 %>
    <% end %>

    <% if slot2? %>
      <span data-test-selector='just-joshing-repro-component-slot-2'> -> Slot2: </span>
      <%= slot2 %>
    <% end %>

    <% unless content.blank? %>
      <span data-test-selector='just-joshing-repro-component-content'> -> Content: </span>
      <%= content %>
    <% end %>

  </span>
</div>
