<!DOCTYPE html>
<html>

<head>
  <title>ViewComponent - Preview - Test</title>
</head>

<body>
  <%= yield %>
  <%= yield(:view_component_preview_source) if content_for?(:view_component_preview_source) %>
</body>

</html>