<!DOCTYPE html>
<html>

<head>
  <title>ViewComponent - Preview - Test</title>
</head>

<body>
  <%= yield %>
  <%= content_for?(:view_component_preview_source_code_example) ? yield(:view_component_preview_source_code_example) : yield %>
</body>

</html>