require "test_helper"

class <%= class_name %>ComponentTest < ViewComponent::TestCase
  test "component renders something useful" do
    # assert_equal(
    #   %(<span>Hello, components!</span>),
    #   render_inline(<%= class_name %>Component.new(message: "Hello, components!")).css("span").to_html
    # )
  end
end
