<div class="slot-with-arg">
  <div class="arg-0"><%= slot_with_arg.args[0] %></div>
  <div class="content"><%= slot_with_arg %></div>
</div>

<div class="slot-with-kwarg">
  <div class="kwarg-a"><%= slot_with_kwarg.args[:a] %></div>
  <div class="content"><%= slot_with_kwarg %></div>
</div>
