name: CI

on: [push, pull_request]

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: gems-build-rails-main-ruby-2.7-${{ hashFiles('**/Gemfile.lock') }}
    - name: Run benchmarks
      run: |
        bundle config path vendor/bundle
        bundle update
        bundle exec rake benchmark
        bundle exec rake translatable_benchmark
        bundle exec rake slotable_benchmark
  test:
    name: test (Rails ${{ matrix.rails_version }}, Ruby ${{ matrix.ruby_version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rails_version: ['5.2', '6.0', '6.1', '7.0', 'main']
        ruby_version: ['2.5', '2.6', '2.7', '3.0', '3.1']
        exclude:
          - rails_version: '5.2'
            ruby_version: '3.0'
          - rails_version: '5.2'
            ruby_version: '3.1'
          - rails_version: '6.0'
            ruby_version: '3.0'
          - rails_version: '6.0'
            ruby_version: '3.1'
          - rails_version: '7.0'
            ruby_version: '2.5'
          - rails_version: '7.0'
            ruby_version: '2.6'
          - rails_version: 'main'
            ruby_version: '2.5'
          - rails_version: 'main'
            ruby_version: '2.6'
    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.rails_version }}.gemfile
    steps:
    - uses: actions/checkout@master
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: gems-build-rails-${{ matrix.rails_version }}-ruby-${{ matrix.ruby_version }}-${{ hashFiles('**/gemfiles/rails_${{ matrix.rails_version }}.gemfile.lock') }}
    - name: Build and test with Rake
      run: |
        bundle config path vendor/bundle
        bundle update
        bundle exec appraisal rails-${{ matrix.rails_version }} rake
      env:
        MEASURE_COVERAGE: true
        RAILS_VERSION: ${{ matrix.rails_version }}
    - name: Upload coverage results
      uses: actions/upload-artifact@master
      if: always()
      with:
        name: simplecov-resultset-rails${{matrix.rails_version}}-ruby${{matrix.ruby_version}}
        path: coverage
  pvc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        repository: 'primer/view_components'
        path: 'primer_view_components'
    - uses: actions/checkout@master
      with:
        path: 'view_component'
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - uses: actions/cache@v2
      with:
        path: |
          node_modules
          vendor/bundle
        key: gems-build-pvc-${{ hashFiles('**/Gemfile.lock') }}-${{ hashFiles('**/yarn.lock') }}
    - name: Build and test with Rake
      run: |
        cd primer_view_components
        yarn
        cd demo && yarn && cd ..
        bundle config path vendor/bundle
        bundle install
        bundle exec rake docs:preview
        bundle exec rake
      env:
        VIEW_COMPONENT_PATH: ../view_component
        RAILS_VERSION: '~> 6.1.0'
  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
    - name: Download coverage results
      uses: actions/download-artifact@v2
    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: gems-build-rails-main-ruby-2.7-${{ hashFiles('**/Gemfile.lock') }}
    - name: Collate simplecov
      run: |
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
        bundle exec rake coverage:report
      env:
        RAILS_VERSION: '~> 7.0.0'
